<?xml version="1.0" encoding="UTF-8"?>
<!--
    scan:当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。
    scanPeriod:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
-->
<configuration debug="false" scan="true" scanPeriod="30 second">
    <property name="PROJECT" value="data-agent"/>
    <property name="ROOT" value="./logs"/>
    <property name="FILE_SIZE" value="50MB"/>
    <property name="MAX_HISTORY" value="100"/>
    <timestamp key="DATETIME" datePattern="yyyy-MM-dd HH:mm:ss.SSS"/>

    <!-- 控制台打印 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] [%X{traceId}] %logger{24} [%line] - %m%n</pattern>
        </encoder>
    </appender>

    <!-- ERROR 输入到文件，按日期和文件大小 -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="utf-8">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %logger{24} [%line] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ROOT}/%d/error-%i.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${FILE_SIZE}</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- INFO 输入到文件，按日期和文件大小 -->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="utf-8">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %logger{24} [%line] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ROOT}/%d/info-%i.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${FILE_SIZE}</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- DEBUG 输入到文件，按日期和文件大小 -->
    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="utf-8">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %logger{24} [%line] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ROOT}/%d/debug-%i.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${FILE_SIZE}</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- SQL相关日志输出 -->
    <logger name="org.apache.ibatis" level="INFO" additivity="true"/>
    <logger name="org.mybatis.spring" level="INFO" additivity="true"/>
    <!-- 数据库连接池日志输出,只打印INFO级别 -->
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO" additivity="true"/>
    <logger name="com.lnxst.common.dao.mapper.BuryPointMapper" level="ERROR" additivity="false"/>
    <logger name="com.lnxst.common.dao.mapper.AreaInfoMapper" level="ERROR" additivity="false"/>
    <logger name="com.lnxst" level="DEBUG" additivity="true"/>

    <!-- Logger 根目录 -->
    <root level="DEBUG">
        <appender-ref ref="ERROR"/>
        <appender-ref ref="INFO"/>
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>